html, body {
    height: 100%;
    width: 100%;
    background: #000;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 16px;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.hidden {
    display: none !important;
}

@media (min-aspect-ratio: 4/3) {
    .root {
        height: 100%;
        width: auto;
    }
}

@media (max-aspect-ratio: 3/4) {
    .root {
        height: 100vw;
        width: auto;
        transform: rotate3d(0, 0, 1, -90deg);
    }
}
