<div class="root">
    <div class="board-background">
        <div class="left-area half-board">
            <div class="quarter-board" data-callback="click:clickTriangle" data-list="leftTop:triangleTemplate"></div>

            <div></div>

            <div class="quarter-board inverse" data-callback="click:clickTriangle" data-list="leftBottom:triangleTemplate"></div>
        </div>
        <div class="right-area half-board">
            <div class="quarter-board" data-callback="click:clickTriangle" data-list="rightTop:triangleTemplate"></div>

            <div></div>

            <div class="quarter-board inverse" data-callback="click:clickTriangle" data-list="rightBottom:triangleTemplate"></div>
        </div>
    </div>
</div>

<template data-name="triangleTemplate">
    <div class="triangle-container">
        <div class="triangle"></div>
        <div class="stack-a" data-list="piecesA:pieceTemplate"></div>
        <div class="stack-b" data-list="piecesB:pieceTemplate"></div>
        <div class="stack-c" data-list="piecesC:pieceTemplate"></div>
        <div class="stack-d" data-list="piecesD:pieceTemplate"></div>
        <div data-content="index"></div>
    </div>
</template>

<template data-name="pieceTemplate">
    <div class="piece-container">
        <div class="piece" data-content="team" data-attr="data-team:team"></div>
    </div>
</template>
